**/.git
**/.gitignore
**/.vscode
**/coverage
**/.env
**/.venv
**/.pytest_cache
**/.github
**/.mise.toml
**/.gitattributes
**/__pycache__
Dockerfile
README.md
docker-compose.yml
requirements-dev.txt
**/.DS_Store
**/venv
**/env
